apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: url-shortener-rabbitmq
spec:
  replicas: 3
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi
  persistence:
    storage: 20Gi
