apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: url-shortener-rabbitmq
  labels:
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/component: message-queue
    app.kubernetes.io/part-of: url-shortener
spec:
  replicas: 3

  persistence:
    storageClassName: longhorn
    storage: 3Gi

  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

  rabbitmq:
    additionalPlugins:
      - rabbitmq_management
      - rabbitmq_prometheus

    additionalConfig: |
      cluster_partition_handling = pause_minority
      vm_memory_high_watermark.relative = 0.6
      disk_free_limit.relative = 1.5
      collect_statistics_interval = 10000

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: url-shortener-rabbitmq
          topologyKey: kubernetes.io/hostname

  override:
    statefulSet:
      spec:
        template:
          spec:
            containers:
              - name: rabbitmq
                env:
                  - name: RABBITMQ_DEFAULT_USER
                    valueFrom:
                      secretKeyRef:
                        name: rabbitmq-credentials
                        key: username
                  - name: RABBITMQ_DEFAULT_PASS
                    valueFrom:
                      secretKeyRef:
                        name: rabbitmq-credentials
                        key: password
