apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: url-shortener-rabbitmq
spec:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 512Mi
