apiVersion: databases.spotahome.com/v1
kind: RedisFailover
metadata:
  name: url-shortener-redis
spec:
  sentinel:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
  redis:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 256Mi
