apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: url-shortener-db
spec:
  instances: 1
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"
