apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: url-shortener-db
spec:
  instances: 2
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "1000m"
