apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: url-shortener-rabbitmq
spec:
  replicas: 2
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
